extends layout

block content
	div.container
		h1 RedAnt
		p A web service developed with Node.js and Mongo db.

		h3 Description
		.well
			p A Node.js REST service for saving/loading JSON in MongoDb. Created as part of the 2012 AP Technology Summit.

		h3 Why "Red Ant"?
		.well
			p Red ants are one of the largest types of ants on the US east coast. They're extremely strong, fast, and can even bite you if you let them. On a sunny day, you can find a red ant colony carrying all types of debris, food, and dead insects into their nest, stashing them away for a rainy day.		
			p Likewise (or maybe not, but let's just go with it), the Red Ant service is a Node.js RESTful service that stores and retrieves data to a Mongo database. Any type of data may be stored in JSON format, by simply posting the data to the designated URI /v1/nest

		h3 API
		.well
			p The API methods are included below and follow the traditional REST interface. You can test the methods using any RESTful client, such as the Advanced REST client app for Google Chrome.

		h3 Read
		.well
			p GET /v1/nest/[objectId]

		h3 Insert
		.well
			p POST /v1/nest
			p Include JSON post data in the request, any format, the entire object will be stored. Example:
			p.text-success Content-type: application/json
			p.text-success Data: {"personId":"12345", "Name":"Frank", "Age":"34", "Region":"US-East"}

		h3 Update
		.well
			p PUT /v1/nest/[objectId]
			p Include JSON post data in the request, any format, the entire object will be replaced. Example:
			p.text-success Content-type: application/json
			p.text-success Data: {"personId":"12345", "name":"Frank", "age":"35", "region":"US-West"}

		h3 Delete
		.well
			p DELETE /v1/nest/[objectId]

		h3 Search
		.well
			p GET /v1/nest/find?q={"key":"value"}
			p The querystring parameter 'q' is a JSON string, used for searching in the Mongo database. Simple regular expressions may be used for LIKE searches. Example:
			p.text-success /v1/nest/find?q={"name":"Frank"}
			p.muted Returns all records with key 'name' equal to 'Frank'
			p.text-success /v1/nest/find?q={ "name" : "/Fr/" }
			p.muted Returns all records with key 'name' containing 'Fr'
			p.text-success /v1/nest/find?q={ "name" : "/" }
			p.muted Returns all records with a key 'name'. This wildcard search may be used to return all records in a collection.


		h3 Ajax and JSONP
		.well
			p JSONP support is included for AJAX calls. Example:
			p http://red-ant.herokuapp.com/v1/nest/find?q={"name":"Frank"}&callback=myCallbackFunc
			a#getLink(href='#') AJAX JSONP GET Example
			#div1
				-

block footer
	script(type='text/javascript')
		$(function() {
			$('#getLink').click(function() {
				$.ajax({
					url: '/v1/nest/find?q={"name":"Frank"}',
					crossDomain: true,
					dataType: 'jsonp',
					success: function(data) {
						$('#div1').text(JSON.stringify(data));
					}
				});

				return false;
			});
		});